# Ignore environment files
.env
.venv/
*.env
*.venv

# Ignore Python bytecode files, except pycache
*.pyc
*.pyo
*.pyd

# Ignore temporary files and folders
*.swp
*.swo
*~
*.bak

# Ignore log files
*.log

# Ignore IDE specific files
.idea/
.vscode/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore test output
coverage/
*.cover

# Ignore package distribution artifacts
*.egg
*.egg-info
dist/
build/
eggs/
resumes/